RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.camilledurthallerrenard\.com [NC]
RewriteRule ^(.*)$ http://camilledurthallerrenard.com/$1 [L,R=301]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
