@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

:root {
    font-size: 62.5%;
    --primary: #9F9DE6;
    --light-primary: #D9D8F5;
    --dark-primary: #4B3E8D;
    --medium-primary: #7C76B7;
    --secondary: #88D3C9;
    --light-secondary: #CFEDE9;
    --medium-secondary: #64c6b4;
    --dark-secondary: #1F826E;
    --tertiary: #E6A1B7;
    --dark-tertiary: #9A4661;
    --light-tertiary: #F5D9E2;
    --super-light-tertiary: #fcecf0d1;
    --light-background-color: #e9e9ef6b;
    --border-radius: 30px;
    --nav-height: 10rem;
    --section-padding-top: calc(var(--nav-height) + 0.5rem);
}


* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}


html,
body {
    height: 100%;
    width: 100%;
}

body {
    color: var(--dark-primary);
    font-family: "Crimson Text", serif;
    font-size: 1.6rem;
    background: white;
}


.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

h2.section-title {
    font-size: 6rem;
    font-family: 'Stardom', sans-serif;
    margin-left: 5%;
    color: var(--dark-primary);
    padding-top: var(--section-padding-top);
    padding-bottom: 2rem;
}

div.primary-btn,
input.primary-btn {
    background-color: transparent;
    color: var(--dark-primary);
    border-radius: var(--border-radius);
    border: var(--dark-primary) 2px solid;
    padding: 0.8rem 2rem;
}

div.primary-btn:hover,
input.primary-btn:hover {
    background-color: var(--dark-primary);
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    cursor: pointer;
}

div.primary-btn:hover>a,
input.primary-btn:hover {
    color: white;
}

div.secondary-btn {
    background-color: transparent;
    color: white;
    border-radius: var(--border-radius);
    border: var(--medium-secondary) 2px solid;
    background-color: var(--medium-secondary);
    padding: 0.8rem 2rem;
    overflow: hidden;
    position: relative;
}

div.secondary-btn:hover {
    background-color: var(--dark-secondary);
    border-color: var(--dark-secondary);
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    cursor: pointer;
}

div.secondary-btn:hover>a {
    color: white;
}


@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* ================ NAVBAR =================================================================== */

#navbar {
    font-size: 2.5rem;
    color: var(--dark-primary);
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    width: 100%;
    position: fixed;
    z-index: 100;
    animation: translate-down 0.75s cubic-bezier(0.2, 0, 0, 1) forwards;
    visibility: hidden;
    animation-delay: 2s;
}

@keyframes translate-down {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transform: translateY(-200%);
        visibility: visible;
    }

    to {
        visibility: visible;
        transform: translateY(0);
    }
}

.scrolled-down {
    top: -8rem;
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    top: 0;
    transition: all 0.5s ease-in-out;
}

#navbar .logo {
    margin: auto 0 auto 5%;
}

#nav-logo {
    height: calc(3/5*var(--nav-height));
}

#navbar ul {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
    list-style: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2rem;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    transform-origin: right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.my-cv span {
    width: 3rem;
    position: absolute;
    /*move the icon*/
    margin-left: -2.8rem;
    margin-top: 0.4rem;
}

div.my-cv.primary-btn {
    /*widen the btn for the download icon*/
    padding-left: 4rem;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-btn p {
    content: "";
    width: 3rem;
    height: 3px;
    background-color: var(--dark-primary);
    transform-origin: center left;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu-btn:hover {
    cursor: pointer;
}

.menu-btn.js-btn-open .menu-btn__bar-1 {
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: rotate(45deg) translate(0, -0.55rem);
}

.menu-btn.js-btn-open .menu-btn__bar-2 {

    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: rotate(-45deg) translate(0, 0.55rem);
}


/* ================ NAV MENU ==================================================================== */

.nav-menu {
    z-index: 50;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, var(--dark-primary) 0%, var(--primary) 100%);
    position: fixed;
    transition: 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: translateY(-100vh);
    text-align: center;
}

.js-nav-open {
    transform: translateY(0);
}

.nav-menu-list {
    margin-top: calc(50vh - 4*12rem/2);
}

.nav-menu-list a {
    opacity: 0;
    font-size: 7rem;
    line-height: 12rem;
    color: white;
    text-transform: uppercase;
}

.js-nav-open .nav-menu-list a {
    animation: textAppear 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.6s both;
}

@keyframes textAppear {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: 0.2em;
        opacity: 1;
    }
}

.hover-line-through-animation {
    display: inline-block;
    position: relative;
}

.hover-line-through-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.6rem;
    bottom: 6rem;
    right: 0.7rem;
    background-color: white;
    transform-origin: right;
    transition: transform 0.2s ease-out;
}

.hover-line-through-animation:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.6s ease-out;
}


/* ================ HOME ===================================================================== */

.home {
    min-height: calc(100vh - var(--nav-height));
    width: 100%;
    /* background-image: url(../public/backgrounds/back-flower.jpg); */
    background-repeat: no-repeat;
    background-size: auto calc(100% - var(--nav-height));
    background-position: right bottom;
    padding-top: var(--section-padding-top);
}

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1rem;
    z-index: 1;
}

.home .socials {
    opacity: 0;
    animation: fade 2s 2.75s forwards;
}

.socials i {
    font-size: 2.5rem;
    margin: 10px 10px;
    color: var(--dark-primary);
}

.socials a:hover {
    filter: drop-shadow(0px 0px 12px var(--dark-primary));
    transition: filter 0.1s ease-in-out;
}

.home .name {
    margin: 70px 0 7vh 5%;
    font-family: 'Lobster two', cursive;
    font-size: 5rem;
}

.home .name .name-text {
    display: flex;
}

.home .name h1 {
    margin-bottom: -1rem;
    margin-left: -1rem;
}

.home .name .name-reveal {
    visibility: hidden;
    animation: translate-up-name .75s cubic-bezier(0.2, 0, 0, 1) forwards;
}

.home .name h1 span.hyphen {
    visibility: hidden;
}

.home .name .hyphen {
    color: var(--secondary);
    font-size: 15rem;
    line-height: 8rem;
    animation: hyphen-anim 1s 2.5s cubic-bezier(0.2, 0, 0, 1) forwards;
}

@keyframes hyphen-anim {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transform: translateY(-200%) rotate(90deg);
        visibility: visible;
    }

    75% {
        visibility: visible;
        transform: translateY(0) rotate(90deg);
    }

    100% {
        visibility: visible;
        transform: translateY(20%) rotate(180deg);
    }
}


.home .name h1:nth-child(1) .name-reveal {
    animation-delay: 0.4s;
}

.home .name h1:nth-child(2) .name-reveal {
    animation-delay: 0.6s;
}

@keyframes translate-up-name {
    0% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transform: translateY(200%);
        visibility: visible;
    }

    to {
        visibility: visible;
        transform: translateY(0);
    }
}

.home-text {
    opacity: 0;
    margin-left: 5%;
    padding-right: 10%;
    font-size: 2.5rem;
    animation: fade 2s 1.5s forwards;
    display: flex;
    flex-direction: column;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.to-portfolio {
    position: relative;
    margin-top: 70px;
    padding: 1.5rem 3rem;
    animation: fade 5s 1.5s forwards;
    background-color: var(--medium-secondary);
    width: fit-content;
    border-radius: var(--border-radius);
    display: flex;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
}

.to-portfolio p {
    color: white;
    font-weight: 800;
}

.to-portfolio svg {
    margin-left: 1rem;
    width: 3rem;
    animation: translate-arrow 0.7s infinite alternate ease-in-out;
}

@keyframes translate-arrow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(12px);
    }
}

.to-portfolio:hover {
    cursor: pointer;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
    transform: scale(1.05)
}

.to-portfolio::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--tertiary);
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: var(--border-radius);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
    visibility: hidden;
}

.to-portfolio:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    visibility: visible;
}

.background-text {
    position: absolute;
    font-size: 20rem;
    line-height: 15rem;
    text-align: end;
    color: var(--super-light-tertiary);
    opacity: 0;
    z-index: -1;
    bottom: 30px;
    right: 0%;
    font-family: 'Lobster two', cursive;
    animation: fade 2s 4s forwards;
}


/* ================ PROJECTS ================================================================= */


.projects {
    width: 100%;
    background-color: var(--light-tertiary);
}

.projects .projects-container {
    font-size: 2.5rem;
    color: var(--dark-primary);
    padding: 5rem;
}

.projects .project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

.project img {
    max-width: 40vw;
    max-height: 50vh;
}

.project img.smartphone {
    max-width: 20vw;
    max-height: 50vh;
}

.project-text {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: fit-content;
    gap: 2vh;
    padding: 4rem;
    background-color: white;
    box-shadow: 10px 15px 30px -10px var(--secondary);
    border: var(--dark-primary) solid 3px;
    border-radius: 20px;
    color: black;
}

.project-text h3 {
    font-size: 4rem;
    color: var(--medium-primary);
}

.project-text .techno {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.project-text div.secondary-btn {
    width: 10rem;
    text-align: center;
    align-self: flex-end;
    margin-top: 5rem;
}

.techno p {
    text-align: center;
}

.project-text .more {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-text .coming-soon {
    font-size: 2rem;
    font-style: italic;
    color: var(--tertiary);
}


/* ================ ABOUT ==================================================================== */

.about {
    background-color: white;
    width: 100%;
    min-height: 100vh;
}

.about h2.section-title {
    color: var(--dark-primary);
}


.about-container {
    display: flex;
    padding-bottom: 200px;
}


.about-text {
    width: 60vw;
    margin-left: 5%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-text p {
    margin-top: 2rem;
    font-size: 2rem;
}


.about-img {
    width: 50vw;
    text-align: center;
    align-self: center;
}

.about img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0px 63px 154px -20px rgb(7 33 66 / 50%);
}

/* ================ CONTACT ================================================================== */

#contact {
    width: 100%;
    background-color: var(--primary);
}

.contact.section-title {
    color: white;
}

form {
    max-width: 500px;
    padding: 0 20px 100px 20px;
    min-height: calc(100vh - 10rem - 100px);
    margin: 0 auto;
    text-align: left;
    font-size: 2rem;
}

label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: -2.5rem;
}

.form-input {
    height: 4rem;
    width: 100%;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    box-sizing: border-box;
    color: var(--dark-primary);
    background-color: white;
    border: none;
    border-radius: 4px;
    font-family: 'Crimson Text', serif;
    transition: border 0.1s ease-in-out;
}

textarea.form-input {
    height: 8rem;
    resize: vertical;
}

.form-input:focus {
    outline: none;
    border: 3px solid var(--dark-primary);
}

input[type=submit] {
    display: block;
    margin: 1rem auto 0;
    font-family: 'Crimson Text', serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1.5rem 4rem;
    border-radius: 4rem;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: var(--dark-primary);
    border-color: var(--dark-primary);
}

/* ================ FOOTER ==================================================================== */

footer {
    width: 100%;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: var(--dark-primary);
    overflow: hidden;
}

footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5vw;
}

footer p {
    font-size: 2rem;
    letter-spacing: 2px;
    color: white
}

#footer-logo {
    width: 120px;
}

.go-to-top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 20vh;
}

.go-to-top span {
    font-size: 7rem;
    color: white;
    margin-bottom: 5vh;
}

/* ================ MEDIA QUERIES ============================================================= */

/* TABLETS */
@media screen and (max-width: 1200px) {
    .projects .project {
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 10vh;
    }

    .project {
        align-items: center;
    }

    .project .project-text {
        text-align: center;
        align-items: center;
        margin-top: 2vh;
    }

    #navbar ul {
        width: 50%;
    }
}

/* PORTRAIT TABLETS */
@media screen and (max-width: 900px) {
    #navbar ul {
        width: auto;
    }

    #navbar ul>li {
        display: none;
    }

    .nav-menu-list a {
        font-size: 10vw;
        line-height: 10rem;
    }

    .nav-menu-list {
        margin-top: calc(50vh - 4*10rem/2);
    }

    .home .name-reveal {
        font-size: 7rem;
    }

    .home .to-portfolio {
        margin-bottom: 8rem;
    }

    .project-text {
        width: 65vw;
        font-size: 2rem;
    }

    .about-container {
        flex-direction: column-reverse;
        gap: 6rem;
    }

    .about-text {
        width: 70vw;
    }

    footer {
        height: 250px;
    }

    footer .info {
        flex-direction: column-reverse;
        align-items: center;
        gap: 5rem;
        margin-top: 50px;
    }

    #footer-logo {
        margin-left: 12px;
    }
}


/* PHONES */
@media screen and (max-width: 600px) {
    #nav-logo {
        height: 5rem;
    }

    .home .name {
        margin-top: 5vh;
        margin-bottom: 8vh;
    }

    .home .name-reveal {
        font-size: 6rem;
    }

    .home .name-text {
        display: flex;
        flex-direction: column;
    }

    .home .name h1 span.hyphen {
        animation: translate-up-name .75s cubic-bezier(0.2, 0, 0, 1) forwards;
        animation-delay: 0.8s;
        transform: rotate(0deg) translate(0, 0);
        line-height: 3rem;
        margin-top: -2.5rem;
        margin-left: 10rem;
    }

    .home .name h1:nth-child(2) .name-reveal:nth-of-type(1) {
        animation-delay: 0.6s;
    }

    .home .name h1:nth-child(2) .name-reveal:nth-of-type(3) {
        animation-delay: 1s;
        margin-left: 6rem;
    }

    .home-text {
        font-size: 2rem;
    }

    .home .to-portfolio {
        margin-top: 7vh;
        align-self: flex-end;
        margin-right: 10vw;
    }

    .background-text {
        font-size: 12rem;
        line-height: 12rem;
        text-align: start;
    }

    .about .section-title {
        margin-bottom: 3rem;
    }

    .about-container {
        gap: 4rem;
    }

    .about img {
        width: 50vw;
    }

    .about-text {
        width: 80vw;
    }
}

/* SMALL PHONES */
@media screen and (max-height: 500px) {
    .home {
        background-size: calc(25rem + 50%);
    }
}



/*TODO:
add resume and social links to the navmenu
reduce top margin for section titles by changing the place where the user is sent to when we click on the link in the navbar
OK to check: zoom out home background for phones to see the text
change the background for projects section (manage the svg element),
OK to check: phone responsive,
projects section: review flex column/row according to the ratio screen
contact form to send for real,
put a pop up button in the contact section that show off my email
customize the loading screen*/